<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.codetribe.ukukhula">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_staff"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminProfile.ProfileActivity" />
        <activity android:name=".AdminProfile.Register" />
        <activity android:name=".StartActivity" />
        <activity android:name=".notifications.Eventhelper" />

        <activity android:name=".learner.LearnrsActivity" />
        <activity android:name=".Teacher.TeachersActivity"></activity>
        <activity android:name=".learner.RegisterLearner"></activity>
    </application>

</manifest>